<h1>Total Mac Addresses: <%=@count%></h1>
<ol>
  <%@events.each do |event|%>
    <li>Mac Address:<%=event.macaddress%><br>
        RSSI:<%=event.rssi%><br>
        Visited:<%=event.updates%><br>
    </li>
  <%end%>
</ol>