<% content_for :title do %>
  Device Sniffer Dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="macaddresses" data-view="Number" data-title="Total Sightings"
      style="background-color:#a04bbf;"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="past_hour" data-view="Meter" data-title="Foot Traffic Past Hour" data-min="0" data-max="8000" 
      style="background-color:#4593b5;"> </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="past_day" data-view="Number" data-title="Total Sightings Past 24 Hours"> </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="last_MAC" data-view="Text" data-title="Last Captured Device" data-text="" data-moreinfo=""></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="3" data-sizey="2">
      <div data-id="manufacturers" data-view="List" data-unordered="true" data-title="Top Manufacturers" data-moreinfo="# of devices around the office"
      style="background-color:#84a344;"></div>
    </li>
  </ul>
</div>
